fastapi==0.115.0
uvicorn==0.30.6
opensearch-py==2.6.0
qdrant-client==1.11.3
sentence-transformers==3.0.1
numpy
requests==2.32.3
python-dotenv==1.0.1
sse-starlette==1.8.2
langchain-core
langchain-ollama
llama-index-core
llama-index-llms-ollama
llama-index-vector-stores-qdrant
redis==5.0.8
psycopg2-binary
unstructured[pdf]
unstructured-inference
opencv-python-headless==4.8.1.78
pillow
python-multipart
pydantic
pydantic-settings
neo4j
SQLAlchemy
tesseract